//Main Responsive Start
//Main Responsive Start



//Global Responsive Start
@media screen and (max-width: 1399px){

//Bigget Section
.biggest__weekly{
	padding: 20px 20px;
	.biggest__weekly__items{
	  padding: 20px 20px;
	  display: grid;
	  align-items: center;
	  justify-content: center;
	  .biggest__left{
		display: grid;
		align-items: center;
		justify-content: center;
		gap: 0px;
		text-align: center;
		.icon{
			margin-bottom: 25px;
		}
		.badge__winner{
		  display: grid;
		  align-items: center;
		  justify-content: center;
		  gap: 0px;
		  margin-bottom: 25px;
		  .winner__man{
			margin-bottom: 5px;
		  }
		  span{
			color: var(--white-color);
			font-size: 18px;
			font-weight: 500;
			line-height: 25px;
		  }
		}
	  }
	  .biggest__right{
		.cmn--btn{
		  display: flex;
		  align-items: center;
		  gap: 3px;
		  padding: 12px 15px 12px;
		  width: 100%;
		}
	  }
	}
  }
//Bigget Section

//Faq Section
.faq__board{
	.accordion-button{
		span{
			margin-right: 50px;
		}
	}
}	
//Faq Section	

//Jackpot-Scss Start
  .jackpot__content{
	text-align: center;
	h1{
	  font-weight: 700;
	  margin-bottom: 5px;
	  font-size: 66px;
	}
	h2{
	  margin-bottom: 30px;
	  font-size: 41px;
	  line-height: 50px;
	}
  }
  //Jackpot-Scss End
  .banner__left__items{
	.shape__thumb{
		opacity: 0.5;
	}
}

}
@media screen and (max-width: 1199px){
	//Banner-Scss Start
	.banner__content{
		position: relative;
		h2{
			margin-bottom: 10px;
			font-size: 38px;
			line-height: 55px;
		}
		h3{
			margin-bottom: 8px;
			font-size: 28px;
			line-height: 42px;
		}
		h4{
			font-size: 24px;
		}
	}
	//Banner-Scss End

	//Topgame-Scss Here
	.section__header__top{
		margin-bottom: 30px;
		h2{
			font-size: 39px;
		}
	}
	//Topgame-Scss End

	.faq__section{
		.section__header__top{
			margin-bottom: 20px;
		}
	}
	.form__area__left{
		margin-bottom: 35px;
		.section__header__top{
			h2{
				line-height: 30px;
			}
		}
	}


	//Modal Register
	.register__modal{
		.modal-content{
			.modal-body{
				.modal__left{
					.thumb{
						max-width: 350px;
					}
				}
				.modal__right{
					width: calc(100% - 350px);
					.form__tabs__wrap{
						form{
							.signin__btn__grp{
								gap: 5px;
							}
						}
					}
				}
			}
		}
	}










  //Jackpot-Scss Start
  .jackpot__content{
	h1{
	  font-size: 42px;
	  margin-bottom: 0;
	}
	h2{
	  font-size: 28px;
	}
  }
  .jackpot__right__bg{
	.jack__shape{
	  left: -110px;
	}
  }
  .jak__items{
	padding: 15px 14px;
	.thumb{
	  margin-bottom: 12px;
	}
	.content{
	  h4{
		margin-bottom: 0px;
		font-size: 24px;
	  }
	}
  }
  //Jackpot-Scss End

//Secton Header
.max-width1{
	margin: 0 auto 50px;
}
.pb-60{
	padding-bottom: 41px;
}
//Secton Header

//Footer Section
.footer__top {
	.widget__items {
		.content-area {
			p{
				margin-top: -5px;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
//Footer Section

}
@media screen and (max-width: 991px){
	//Header Menu Start//
	.header-section{
		padding: 20px 0;
		.header-wrapper{
			.language__wrap{
				position: relative;
				.flag{
					position: absolute;
					top: 7px;
					left: 0;
				}
			}
			.nice-select{
				padding: 8px 40px 9px  44px;
			}
			.logo-menu{
				display: block;
			}
			.lang{
				opacity: 1;
			}
		}
	}
	.main-menu {
		position: absolute;
		top: 100%;
		width: 100%;
		display: inline !important;
		left: 0;
		margin-top: 20px;
		z-index: 999;
		padding: 5px 5px;
		background: var(--header-color);
		transform-origin: top;
		max-height: calc(100vh - 130px);
		overflow-y: auto;
		border-radius: 10px;
		transition: all 0.4s;
		height: 350px;
		opacity: 1;
		visibility: visible;
		&:not(.active) {
			transition: all 0.5s;
			opacity: 0;
			visibility: hidden;
			height: 0;
		}
		li {
			width: 100%;
			border-radius: 2px;
			padding-left: 10px !important;
			&:not(:last-child) {
				margin-right: 0 !important;
				margin-bottom: 7px;
				background: #12432E;
				border: 1px solid #23584C;
				border-radius: 5px;
			}
			a{
				display: block;
				padding: 8px 10px 9px;
				font-size: 17px;
			}
			.sub-menu{
				margin: 0px 10px 15px 20px !important;
				li{
					a{
						padding: 8px 15px !important;
					}
					.sub-two{
						position: static !important;
						width: 100% !important;
						padding: 0 10px 20px 30px;
						li{
							a{
								display: block;
							}
						}
					}
				}
			}
		}
		.active {
			a {
				color: var(--white-color);
			}
		}
		.cmn-grp{
			padding-left: 0 !important;
			@include flex;
			gap: 20px;
			display: block !important;
			.cmn--btn{
				padding: 8px 25px 11px;
				font-size: 16px;
				display: inline-block;
			}
			.cmn--btn2{
				padding: 8px 25px 8px;
				display: inline-block;
			}
		}
	}
	.header-bar {
		position: relative;
		width: 31px;
		height: 20px;
		span {
			position: absolute;
			width: 100%;
			height: 2px;
			display: inline-block;
			transition: all 0.3s;
			left: 0;
			background: var(--white-color);
			&:first-child {
				top: 0;
				background: var(--white-color);
			}
			&:nth-child(2) {
				top: 44%;
				background: var(--white-color);
			}
			&:last-child {
				bottom: 0;
				background: var(--white-color);
			}
		}
		&.active {
			span {
				&:first-child {
					transform: rotate(45deg) translate(3px, 9px);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					transform: rotate(-45deg) translate(3px, -9px);
				}
			}
		}
		&:hover{
			cursor: pointer;
		}
	}
	.header-wrapper{
		flex-wrap: wrap;
		.main-menu{
			display: block;
		}
		.mneu-btn-grp{
			display: none;
		}
		.search__form{
			display: none;
		}
	}
	//Side Header

	//Main Body Start
	.main__body__wrap{
		.left__body__wrap{
			.header-section-site{
				display: none;
			}
			.header-wrapper{
				display: grid;
				.logo-menu{
					display:block;
				}
				.main-menu{
					display: grid;
				}
			}
		}
		.right__body__wrap{
			width: calc(100%);
		}
	}
  //Main Body Start

  	//Faq Section
	.faq__board{
		.accordion-item .collapsed::after{
			top: 10px;
			right: 10px;
		}
		.accordion-button{
			font-size: 14px;
			line-height: 21px;
			span{
				margin-right: 50px;
			}
		}
	}	
	//Faq Section
	//Header Menu End//


	//Tournaments Section
	.tournaments__items{
		padding: 10px 20px 20px;
		overflow: hidden;
		.content{
		  p{
			font-size: 18px;
			line-height: 30px;
		  }
		}
		.tournaments__shape{
		  position: absolute;
		  bottom: 0px;
		  right: 0;
		  opacity: 0.2;
		}
	  }
	//Tournaments Section

	//Jackpot Section
	.jackpot__right__bg{
		.jack__shape{
		  display: none;
		}
	  }
	//Jackpot Section

	//Games Start
	.game__head__wrap{
		display: grid;
		margin-bottom: 30px;
		h2{
		  margin-bottom: 0px;
		  font-size: 36px;
		}
	  }
	//Games End

	//Secton Header
	.max-width1{
		margin: 0 auto 40px;
	}
	//Secton Header

	//Contact Section
	.right__contact{
		margin-bottom: 30px;
	}
	//Contact Section

	//footer Start
	.footer__top {
		.widget__items {
			.content-area {
				.quick-link {
					li {
						a {
							font-size: 17px;
						}
					}
				}
				form{
					margin-top: 20px;
					input{
						padding: 15px 128px 15px 20px;
						font-size: 16px;
					}
					.cmn--btn2{
						padding: 11px 18px 14px;
						font-size: 16px;
					}
				}
			}
		}
	}
	//footer End

	//Register-Scss Modal
	.register__modal{
	z-index: 9999999;
	.modal-content{
	  .modal-header{
		border: unset;
		padding: 0 0;
		button{
		  width: 10px;
		  height: 10px;
		  opacity: 1;
		}
	  }
	  .modal-body{
		display: grid;
		justify-content: center;
		padding: 20px 20px 20px 20px;
		.modal__left{
		  .modal__left__head{
			text-align: center;
			margin: 0 auto 30px;
			h3{
			  font-size: 28px;
			}
		  }
		  .thumb{
			display: none;
		  }
		}
		.modal__right{
		  width: calc(100%);
		  border-radius: 20px;
		  .nav{
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 26px;
			border: unset;
			margin-bottom: 20px;
			.nav-item{
			  .nav-link{
				line-height: 22px;
				outline: none;
				box-shadow: none;
			  }
			}
		  }
		  .tab-content{
			.form__tabs__wrap{
			  form{
				.form__grp{
				  position: relative;
				  &:not(:last-child){
					margin-bottom: 25px;
				  }
				  .field-icon{
					position: absolute;
					top: 56px;
					right: 20px;
					z-index: 99999;
					color: #8B8B9D;
				  }
				  label{
					display: block;
					font-size: 18px;
					font-weight: 500;
					line-height: 30px;
					margin-bottom: 8px;
				  }
				  input{
					width: 100%;
					padding: 13px 50px 15px 18px;
				  }
				  ::placeholder{
					color: #989898;
				  }
				}
				.reset{
					font-size: 14px;
				}
				.form__select{
				  padding: 0 0 30px;
				  .nice-select{
					width: 100%;
					background: linear-gradient(#3E0F36, #3E0F36) padding-box,
					linear-gradient(to right, #E4A91B, #F88021) border-box;
					border-radius: 0.5em;
					border: 1px solid transparent;
					color: #989898;
				  }
				  .form-country{
					font-size: 18px;
					font-weight: 500;
					line-height: 30px;
					margin-bottom: 8px;
					display: block;
				  }
				}
				.form__grp__new{
				  margin-top: 40px;
				  position: static;
				}
				.form-check{
				  display: flex;
				  align-items: center;
				  gap: 10px;
				  margin-top: -14px;
				  margin-bottom: 40px;
				  .form-check-input{
					width: 15px;
					height: 15px;
					border-radius: 2px;
					outline: none;
					box-shadow: none;
					background-color: transparent;
				  }
				}
				.form__select_last{
				  margin-top: 40px;
				}
				.cmn--btn2{
				  display: flex;
				  justify-content: center;
				  width: 90%;
				  margin: 0 auto 20px;
				}
				p{
				  text-align: center;
				}
			  }
			  .social__icon{
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: center;
				li{
				  width: calc(80% / 2);
				  border-radius: 10px;
				  padding: 10px 15px 12px;
				  margin: 10px;
				}
			  }
			}
		  }
		}
	  }
	}
  	}
	.modal__thumb__wrap{
		padding: 30px 10px 20px 10px;
		.section-header{
			margin-bottom: 15px;
			h2{
				line-height: 44px;
				font-size: 32px;
				font-weight: 600;
			}
		}
	}
	.toffi__bg{
		.head__toffi{
			padding: 0 0 0px !important;
			p{
				margin-bottom: 0 !important;
				font-size: 20px !important;
			}
			h2{
				font-size: 32px;
			}
		}
		.bottom__toffi{
		  display: grid !important;
		  align-items: flex-end;
		  .timing__wrap{
			width: calc(100%) !important;
			margin-top: 20px;
			#countdown{
			  ul{
				display: flex;
				justify-content: center;
				gap: 6px !important;
				align-content: center;
				margin-bottom: -44px;
				li{
				  span{
					font-size: 22px !important;
					font-weight: 500;
					width: 60px;
					line-height: 45px;
					height: 49px;
					margin-bottom: 0 !important;
				  }
				  .spantext{
					font-size: 14px !important;
					font-weight: 500;
				  }
				}
			  }
			}
		  }
		}
	  }
	.critter__pop{
		.modal-dialog{
			.modal-body{
				.critter__head{
					margin-bottom: 30px;
					h2{
						font-size: 38px;
						margin-bottom: 20px;
					}
				}
			}
		}
	}  
  	//Register-Scss End

}
@media screen and (max-width: 767px){

	//Topgame-Scss Here
	.section__header__top{
		margin-bottom: 30px;
		display: grid;
		h2{
			font-size: 39px;
			margin-bottom: 4px;
		}
		.cmn--btn{
			width: 170px;
			text-align: center;
			padding: 11px 10px 12px;
		}
	}
	//Topgame-Scss End

	.faq__section{
		.section__header__top{
			margin-bottom: 20px;
			h2{
				font-size: 28px;
				line-height: 39px;
			}
		}
	}

	//Wins Header
	.wins__head{
		h2{
			font-size: 36px;
		}
	}
	//Wins Header

	//Contact Section
	.right__contact{
		margin-bottom: 30px;
		.section-header{
			margin-bottom: 30px;
		}
	}
	.form__area__left{
		padding: 15px 10px 20px;
		.section-header{
			margin-bottom: 20px;
			h3{
				font-size: 36px;
			}
		}
	}
	//Contact Section
	

	//Footer Start
	.footer__bottom {
		padding: 19px 0;
		display: grid;
		justify-content: center;
		text-align: center;
		margin: 0 auto;
		p{
			font-size: 18px;
		}
		.bottom__ling{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 8px;
			li{
				a{
					font-size: 18px;
				}
			}
		}
	}
	//Footer End
}
@media screen and (max-width: 670px){
	.bonus__section{
		position: relative;
		.gamewins__head__wrap{
			margin-right: 0px;
		}
	}
	.bonus__wrapper{
		.owl-nav{
		  display: none;
		}
	  }
}
@media screen and (max-width: 575px){
//Banner-Scss Start
.banner__left__wrap{
	padding: 0 0;
	.owl-nav{
		button.owl-prev{
			position: absolute;
			top: 41%;
			left: -21px;
			width: 30px;
			height: 40px;
			img{
				width: 14px;
			}
		}
		button.owl-next{
			position: absolute;
			top: 45%;
			right: -18px;
			width: 30px;
			height: 40px;
			img{
				width: 14px;
			}
		}
	}
	.owl-dots{
		position: absolute;
		bottom: 10px;
		left: 7px;
	}
}
.banner__left__items{
	padding: 80px 15px 95px;
}
.banner__content{
    position: relative;
	h1{
		font-size: 26px;
		margin-bottom: 0;
	}
    h2{
        margin-bottom: 0px;
		font-size: 22px;
		line-height: 45px;
    }
    h3{
        margin-bottom: 8px;
		font-size: 18px;
		line-height: 42px;
    }
}
.shape__thumb{
	opacity: 0.5;
}
//Banner Tab Here
.banner__tab__feature{
   padding-top: 10px;
}
//Banner-Scss End

//Tournaments Section
.tournaments__items{
	.content{
		h3{
			font-size: 36px;
			margin-bottom: 5px;
		}
		p{
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 10px;
		}
	}
	.tournaments__shape{
		position: absolute;
		bottom: 0px;
		right: 0;
		opacity: 0.2;
	}
	}
//Tournaments Section

//Games Start
.game__head__wrap{
	h2{
		font-size: 36px;
		margin-bottom: -4px;
	}
}
//Games End

//Troffi Start
.modal__thumb__wrap{
	.section-header{
		margin-bottom: 15px;
		h2{
			line-height: 30px;
			font-size: 28px;
			font-weight: 500;
		}
	}
}
//Troffi End

//Secton Header
.max-width1{
	margin: 0 auto 35px;
}
.pb-60{
	padding-bottom: 25px;
}
//Secton Header

//tournamets-Scss Here
.tournamets__section{
	overflow: hidden;
}
.tournaments__items{
	padding: 15px 10px 15px;
	.tour__content{
		display: grid;
		.left__content{
			width: 100%;
		}
		.right__content{
			width: 100%;
			padding: 20px 10px;
		}
	}
  }
.faq__section{
	.top__space__head{
		margin-top: -0px;
	  }
}  
  //tournamets-Scss End

}
@media screen and (max-width: 500px){
	//Banner Tab
	.banner__tab__wrap{
		gap: 20px;
	}
	.banner__tab__items{
		border-radius: 10px;
		padding: 16px 0px;
		width: 118px;
		.icon{
			i{
				font-size: 45px;
			}
		}
		span{
			font-size: 16px;
		}
	}
	//Banner Tab

	//Topgame-Scss Here
	.section__header__top{
		h2{
			font-size: 28px;
			margin-bottom: 0px;
		}
	}
	//Topgame-Scss End
	
	//Bigget Section
	.biggest__weekly{
		padding: 10px 10px;
		.biggest__weekly__items{
			padding: 20px 20px;
			&:not(:last-child){
				margin-bottom: 10px;
			}
		.biggest__right{
			.cmn--btn{
			font-size: 16px;
			}
		}
		}
	}
  	//Bigget Section	





//Footer Start
.footer__section{
	.shape__right{
		display: none;
	}
}
//Footer Start

//Register-Scss Modal
.register__modal{
	z-index: 9999999;
	.modal-content{
		.modal-header{
		button{
			background-image: none;
			background: url(../../assets/img/modal/cros.png) no-repeat;
			background-size: 20px;
			width: 10px;
			height: 10px;
			opacity: 1;
			margin-top: 15px;
			margin-right: 15px;
		}
		}
		.modal-body{
		padding: 20px 10px 10px 10px;
		.modal__left{
			.modal__left__head{
				text-align: center;
				margin: 0 auto 30px;
				h3{
					font-size: 22px;
				}
			}
		}
		.modal__right{
			padding: 20px 15px;
			.tab-content{
			.form__tabs__wrap{
				form{
					p{
						font-size: 16px;
					}
				}
				.social__icon{
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					justify-content: center;
				li{
					background: var(--modal-bg);
					width: calc(90% / 2);
					border-radius: 10px;
					padding: 10px 15px 12px;
					margin: 4px;
					a{
					display: flex;
					align-items: center;
					gap: 5px;
					i{
						color: var(--white-color);
					}
					}
				}
				}
			}
			}
		}
		}
	}
}
.critter__pop{
	.modal-dialog{
		padding: 7px 3px;
		.modal-body{
			.critter__head{
				margin-bottom: 20px;
				h2{
					font-size: 28px;
					margin-bottom: 10px;
				}
			}
		}
	}
}
//Register-Scss End
}
@media screen and (max-width: 420px){
	//Topgame-Scss Here
	.section__header__top{
		h2{
			font-size: 21px;
			margin-bottom: 0px;
		}
		.cmn--btn{
			font-size: 16px;
		}
	}
	//Topgame-Scss End

	//Faq Sectopm
	.faq__section{
		.section__header__top{
			margin-bottom: 20px;
			h2{
				font-size: 22px;
				line-height: 31px;
			}
		}
	}
	//Faq Sectopm


	.footer__top {
		.widget__items {
			.content-area {
				form{
					margin-top: 20px;
					input{
						padding: 15px 128px 15px 20px;
						font-size: 14px;
					}
					.cmn--btn2{
						padding: 9px 18px 12px;
						font-size: 14px;
					}
				}
			}
		}
	}
	.footer__bottom {
		p{
			font-size: 17px;
		}
		.bottom__ling{
			margin-top: 5px;
			li{
				a{
					font-size: 16px;
				}
			}
		}
	}
	.footer__top .widget__items .content-area form .cmn--btn {
		position: absolute;
		top: 2px;
		right: 3px;
	}
}
@media screen and (max-width: 350px){
	.header-wrapper {
		.lang{
			.language__wrap{
				display: none;
			}
		}
	}
}
@media (min-width: 1199px) and (max-width: 1700px){
}
@media (min-width: 1199px) and (max-width: 1400px){
	  //tournamets-Scss Here
	  .tournaments__items{
		.tour__content{
			display: grid;
			.left__content{
				width: 100%;
			}
			.right__content{
				width: 100%;
			}
		}
	  }
	  //tournamets-Scss End
}
@media (min-width: 991px) and (max-width: 1200px){
	//Banner Jackpot
	.banner__jackpot__items{
		display: flex;
		align-items: center;
		padding: 20px 5px 18px;
		gap: 10px;
		span{
			font-size: 15px;
		}
	}
	.banner__left__items{
		padding: 100px 40px 135px;
	}
	//Banner Jackpot

	//Bigget Section
	.biggest__weekly{
		.topwinner{
			font-size: 14px;
		}
		.biggest__weekly__items{
			&:not(:last-child){
				margin-bottom: 20px;
			}
		}
	}
	//Bigget Section

	//Faq Section
	.faq__board{
		.accordion-item .collapsed::after{
			top: 10px;
			right: 10px;
		}
		.accordion-button{
			font-size: 14px;
			line-height: 21px;
			span{
				margin-right: 50px;
			}
		}
	}	
	//Faq Section
}
@media (min-width: 575px) and (max-width: 767px){
	//Banner 
	.banner__left__items{
		padding: 100px 40px 135px;
	}
	.banner__content{
		position: relative;
		h1{
			font-size: 38px;
		}
		h2{
			font-size: 32px;
			line-height: 55px;
		}
		h3{
			margin-bottom: 8px;
			font-size: 26px;
			line-height: 42px;
		}
	}
	//Banner 
}
//Global Responsive End

//Main Responsive End
//Main Responsive End